<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Get a Parameter Value by WebRequest</h1>
    <h3>Register a new Menu</h3>
    <form action="regist" method="post">
        Name of the New Menu : <input type="text" name="menuName"><br>
        Price of the New Menu : <input type="text" name="menuPrice"><br>
        Category of the New Menu :
        <select name="categoryCode">
            <option value="1">Meal</option>
            <option value="2">Beverage</option>
            <option value="3">Dessert</option>
        </select><br>
        <input type="submit" value="regist">
    </form>
</body>
</html>