<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
    <div th:replace="common/header.html"></div>
    <table>
        <tr>Menu No.</tr>
        <tr>Menu Name</tr>
        <tr>Menu Price</tr>
        <tr>Category Code</tr>
        <tr>Availability Status</tr>
        <tr th:each="menu : ${ menuList }">
            <td th:text="${ menu.code }"></td>
            <td th:text="${ menu.name }"></td>
            <td th:text="${ menu.price }"></td>
            <td th:text="${ menu.categoryCode }"></td>
            <td th:text="${ menu.orderableStatus }"></td>
        </tr>
    </table>
</body>
</html>